{% extends 'base/base.html' %}
{% load static %}
{% load i18n %}

{% block content %}
    <div class="row">
        <h5>{% trans "Index Title" %}</h5>
    </div>

    {% if errors %}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <strong>{%  trans "Error Submit" %}!</strong><br/>{% trans "Please Check City Name" %}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endif %}

    <div class="row">
        <div class="col-6">
            <form method="POST">
                {% csrf_token %}
                <div class="mb-3">
                    <label class="form-label">{% trans "Input City Name" %}</label>
                    <select class="form-control" name="city" id="city_form"></select>
                    <input type="hidden" name="latitude" id="latitude_form">
                    <input type="hidden" name="longitude" id="longitude_form">
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script>
        $('#city_form').select2({
            minimumInputLength: 3,
            ajax: {
                url: '/openweathermap/api/cities',
                delay: 250,
                cache: true,
                data: function (params) {
                    var query = {
                        name: params.term
                    }
                    return query
                },
                processResults: function (data) {
                    let newData = []
                    $.each(data.cities, function (i, d) {
                        let city_fullname = [d.local_name, d.country]
                        newData.push({id: d.id, text: city_fullname.join(", "), latitude: d.lat, longitude: d.lon})
                    })
                    return {
                        results: newData
                    }
                }
            }
        })

        $('#city_form').on('select2:select', function (e) {
            var data = e.params.data
            $('#latitude_form').val(data.latitude)
            $('#longitude_form').val(data.longitude)
        })
    </script>
{% endblock %}