{% extends 'base/base.html' %}
{% load static %}
{% load i18n %}

{% block content %}
    <div class="row">
        <h5>{% trans "Index Title" %}</h5>
    </div>

    {% if errors %}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <strong>{% trans "Error Submit" %}!</strong><br/>{% trans "Please Check City Name" %}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endif %}

    <div class="row">
        <div class="col-6">
            <form method="POST">
                {% csrf_token %}
                <div class="mb-3">
                    <label class="form-label">{% trans "Input City Name" %}</label>
                    <select class="form-control" name="city" id="city_form"></select>
                    <input type="hidden" name="latitude" id="latitude_form">
                    <input type="hidden" name="longitude" id="longitude_form">
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>

    {% if weather %}
        <div class="row" style="margin-top: 20px;">
            <div class="col-6">
                <h5>Weather Detail</h5>
                <table class="table">
                    <tbody>
                    <tr>
                        <th>{% trans "Country" %}</th>
                        <td>{{ weather.sys.country }}</td>
                    </tr>
                    <tr>
                        <th>{% trans "City" %}</th>
                        <td>{{ city }}</td>
                    </tr>
                    <tr>
                        <th>{% trans "Longitude" %}</th>
                        <td>{{ weather.coord.lon }}</td>
                    </tr>
                    <tr>
                        <th>{% trans "Latitude" %}</th>
                        <td>{{ weather.coord.lat }}</td>
                    </tr>
                    <tr>
                        <th>{% trans "Weather" %}</th>
                        <td>{{ weather.weather.0.description }}</td>
                    </tr>
                    <tr>
                        <th>{% trans "Temperature" %}</th>
                        <td>{{ weather.main.temp }}</td>
                    </tr>
                    <tr>
                        <th>{% trans "Feels Like" %}</th>
                        <td>{{ weather.main.feels_like }}</td>
                    </tr>
                    <tr>
                        <th>{% trans "Temperature Minimum" %}</th>
                        <td>{{ weather.main.temp_min }}</td>
                    </tr>
                    <tr>
                        <th>{% trans "Temperature Maximum" %}</th>
                        <td>{{ weather.main.temp_max }}</td>
                    </tr>
                    <tr>
                        <th>{% trans "Pressure" %}</th>
                        <td>{{ weather.main.pressure }}</td>
                    </tr>
                    <tr>
                        <th>{% trans "Humidity" %}</th>
                        <td>{{ weather.main.humidity }}</td>
                    </tr>
                    <tr>
                        <th>{% trans "Wind Speed" %}</th>
                        <td>{{ weather.wind.speed }}</td>
                    </tr>
                    <tr>
                        <th>{% trans "Wind Degrees" %}</th>
                        <td>{{ weather.wind.deg }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block scripts %}
    <script src="{% static 'js/search_city.js' %}"></script>
{% endblock %}